.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Wrapper {
  position: relative;
  left: 600px;
  display: flex;
}

.Background {
  background-color: blue;
  width: 600px;
  height: 300px;
}

.BackgroundB {
  background-color: red;
  width: 300px;
  height: 100px;
}

.Container {
  width: 300px;
  margin-left: 0px;
  overflow: hidden;
}

.Container:hover {
  width: 200px;
  margin-left: 100px;
  transition: all 2s ease-in-out;
}